<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.HealthKpiMapper">

    <select id="getAll" resultType="com.tencent.wxcloudrun.model.HealthKpiDto" >
        SELECT
          USER_ID userId,
          USER_NAME userName,
          TELEPHONE_NUMBE telephone,
          BIRTHDAY birthday,
          CURRENT_DATE currentDate,
          CHILD_MONTHS childMonths,
          MONTH_AGE monthAge,
          SEQ_NUM seqNum,
          KPI_TYPE kpiType,
          KPI_CODE kpiCode,
          KPI_DESC kpiDesc,
          SCORE score,
          IFNULL((select count(1) from (select DISTINCT month_age from v_user_kpi_d) a),0) pageCount
        FROM v_user_kpi_d
        where month_age=#{monthAge}
        order by monthAge
    </select>

    <insert id="save" parameterType="com.tencent.wxcloudrun.model.UserKpiDto" >
        insert into DW_USER_KPI_F (USER_ID,USER_NAME,TELEPHONE_NUMBE,BIRTHDAY,MONTH_AGE
        ,SEQ_NUM,KPI_TYPE,KPI_CODE,KPI_DESC,KPI_FLAG,SCORE,CREATED_DATE,UPDATE_DATE) values (
        #{userId},#{userName},#{telephoneNumber},#{birthday},#{monthAge},
        #{seqNum},#{kpiType},#{kpiCode},#{kpiDesc},#{kpiFlag},#{score},#{createdDate},#{updateDate})
    </insert>

    <select id="execute" statementType="CALLABLE">
        {
            call SP_DW_USER_KPI_F(#{userId})
        }
    </select>

    <select id="getResult" parameterType="java.lang.Integer" resultType="com.tencent.wxcloudrun.model.UserKpiDto" >
        SELECT
        T.MONTH_AGE monthAge,
        T.KPI_TYPE kpiType,
        T.KPI_DESC kpiDesc,
        T.KPI_FLAG *T.SCORE AS score
        FROM
        child_health.DW_USER_KPI_F T
        WHERE T.USER_ID = #{userId}
        Order by
        T.MONTH_AGE,
        T.SEQ_NUM
    </select>

</mapper>
